{% extends 'base.html.twig' %}

{% block title %}Réserver{% endblock %}

{% block body %}
    <section class="listing">

        {% for propertie in properties %}

{{ dump(propertie) }}
        {% endfor %}
    </section>
{% endblock %}
