{% extends 'base.html.twig' %}

{% block title %}Réserver{% endblock %}

{% block body %}
    <section class="listing">

        {% for property in properties %}
            <div class="listing-div" data-idproperty="{{ property.id }}">
                <article class="listing-oneProperty">
                    <div>
                        {% set image = property.pictures.first() %}
                        <img class="listing-img" src="{{ image ? image.url }}">
                    </div>
                    <div>
                        <h1 class="listing-title">{{ property.address.city~" :  "~ property.address.complement }}</h1>
                        <p class="listing-description">{{ property.description }}</p>
                    </div>
                </article>
            </div>

        {% endfor %}
    </section>
{% endblock %}
