
@import url('https://fonts.googleapis.com/css?family=Roboto');
//  Start environment (variables utiles)
/////////////////////////////


//COLORS
$orange   : #e75113;
$red : #e22136;
$violet: #2d204c;

$black: #1c1c1c;
$dark : #505050;;
$light : #bebebe;
$white : #FFF;



$color-main : $orange;
$color-second: $violet;
$color-bg: $white;
$color-text : $dark;


//LAYOUT
$goutiere: 120px;
$goutiere-m: 80px;
$goutiere-s: 30px;


$wrapper-small : 585px;
$wrapper-normal : 1170px;
$wrapper-large : 1600px;


//FONTS
$font-main   :  'Roboto', sans-serif;
$font-second : 'gotham', sans-serif;
$font-size : 19px;


//OTHER
$bezier : cubic-bezier(.58,.01,.19,1);




