<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EdinBnB{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('web/css/main.css') }}"/>
</head>
<body>
{% block body %}{% endblock %}

<script src="{{ asset('web/js/main.js') }}"></script>
</body>
</html>
